/*--------------- Default Styles ----------------*/
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

a {
    color: #fff;
    font-weight: 700;
}

a:hover {
    color: #ffc107;
}

.charts-heading {
    border-left: 15px solid #ffc107;
}

.bg-grey {
    background-color: #d3dcde;
}

#add-customer-btn {
    float: right;
}

h3 i {
    font-size: 0.8em;
}

h3 i:hover {
    opacity: 0.8;
}

.btn {
    font-weight: 700;
}

.popover-header {
    color: #212529;
}

.table .thead-dark th {
    background-color: #2C3E50;
}

.col-form-label {
    color: #fff;
    float: left;
    font-size: 1.171875rem;
    font-weight: 700;
}

footer i {
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    background-color: #fff;
    color: #2C3E50;
}

footer i:hover {
    background-color: #ffc107;
}

/*.fa-linkedin-in, .fa-github {*/
/*    padding-left: 1px;*/
/*}*/

/*.fa-desktop {*/
/*    padding-right: 1px;*/
/*}*/

#loader {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #181F27;
    display: flex;
    justify-content: center;
}

#loader img {
    align-self: center;
    width: 480px;
    height: 360px;
}

.hideLoader {
    visibility:hidden;
    opacity: 0;
    transition: visibility 1s linear,opacity 1s linear; 
}

.charts .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}


#map {
    height: 500px;
    width: 100%;
}

.dc-table-group {
  visibility: collapse;
}